service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userId}/{documents=**} {
      allow read, write: if request.auth.uid == userId
    }
  }
}